 @charset "UTF-8";


.infoForm{
	color: #0064CD;
	display: flex;
	padding-bottom: 30px;
	
}

.genderForm{
	color: #0064CD;
	display: flex;
	padding-bottom: 15px;
	
}

.emailForm{
	color: #0064CD;
	display: flex;
	padding-bottom: 25px;
	
}